html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.section-title {
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
* .container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	line-height: 1.3;
}

.header {
	background-color: #151515;
}

.header-main {
	background-color: transparent;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
}

.header__inner {
	padding: 40px 0 45px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.menu__list {
	display: flex;
	gap: 35px;
}

.menu__list-link {
	color: white;
	text-transform: uppercase;
}

.menu__list-link--active {
	color: #0066ff;
}

.footer {
	background-color: #151515;
	padding: 50px 0 32px;
	color: white;
}

.footer-menu {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.footer__menu-list {
	max-width: 250px;
}

.footer__menu-title {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
	padding-top: 20px;
}

.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 50px;
}

.footer__copy {
	max-width: 800px;
	margin: 0 auto 30px;
	text-align: center;
	font-size: 12px;
}

.copy__nav-list {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.main {
	flex-grow: 1;
}

.top {
	color: #fff;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 50px;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}

.title {
	padding-bottom: 80px;
	font-size: 64px;
	font-weight: 700;
}

.top__link {
	background-color: #151515;
	padding: 23px;
	max-width: 430px;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}

.swiper::after {
	content: '';
	background: rgba(21, 21, 21, 0.3);
	position: absolute;
	z-index: 5;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}

.swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.swiper-pagination-bullet {
	width: 120px;
	height: 3px;
	background-color: #151515;
	border-radius: 0;
	opacity: 1;
	margin: 0 15px !important;
}
.swiper-pagination-bullet-active {
	height: 6px;
	background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets {
	bottom: 35px;
}

.why-lease {
	padding: 150px 0;
}

.why-lease__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	text-align: center;
}

.why-lease__item-title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 700;
}

.why-lease__item-img {
	margin-bottom: 30px;
}

.how-does {
	padding-bottom: 150px;
}

.how-does__inner {
	max-width: 600px;
	margin: 0 auto;
}

.how__does-title {
	font-size: 24px;
	font-weight: 700;
	padding-top: 50px;
}

.how__does-list {
	padding: 50px 0 70px;
	counter-reset: MyCounter;
}

.how__does-item {
	list-style-type: none;
	width: 270px;
	position: relative;
	margin-left: auto;
	box-sizing: content-box;
	padding: 19px 0 19px 240px;
	min-height: 63px;
}

.how__does-item + .how__does-item {
	margin-top: 40px;
}

.how__does-item::before {
	counter-increment: MyCounter;
	content: counter(MyCounter);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0066ff;
	font-size: 48px;
	font-weight: 700;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.main-video {
	padding-bottom: 150px;
}

.video__title {
	margin-bottom: 20px;
}

.main-video__text {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}

.main__video-yt {
	display: block;
	margin: 0 auto;
}

.things-title {
	margin-bottom: 20px;
}

.things-text {
	width: 580px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
	text-align: center;
	margin: 0 auto 50px;
}

.things__menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 30px;
}

.things__menu-text {
	font-size: 13px;
	font-weight: 400;
	width: 270px;
	height: 150px;
}

.things__menu-img {
	margin-bottom: 20px;
	width: 270px;
	height: 150px;
}

.contacts {
	padding: 100px 0 150px;
}

.contacts__title {
	margin-bottom: 20px;
}

.contacts-text {
	margin-bottom: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 50px;
	padding: 0 100px;
}

.form {
	max-width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form__input {
	width: 270px;
	padding: 18px 20px;
	display: inline-block;
	border: 1px solid #0066ff;
	gap: 40px;
	margin-bottom: 50px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.form__input::placeholder {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	opacity: 0.5;
}
.form__textarea {
	display: inline-block;
	width: 100%;
	height: 290px;
	resize: none;
	padding: 28px 20px;
	margin-bottom: 50px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	opacity: 0.5;
	border: 1px solid #0066ff;
}

.form__btn {
	background-color: black;
	color: #fff;
	margin: 0 auto;
	padding: 13px 61px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.blog {
	padding-bottom: 150px;
}

.blog-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	padding-bottom: 70px;
}

.blog-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog-info__img {
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
}

.blog-info__title {
	flex-basis: 446px;
	font-size: 24px;
	font-weight: 700;
}

.blog-item__btn {
	background-color: #0066ff;
	color: white;
	padding: 4px 20px;
	height: 30px;
}

.blog-btn {
	display: block;
	width: 225px;
	background-color: black;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 13px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.newcar {
	padding-top: 100px;
}

.tabs__btn {
	padding: 0 150px;
	display: flex;
	justify-content: space-between;
	gap: 60px;
	padding-bottom: 100px;
}

.tabs__btn-item {
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

.tabs__btn-item--active {
	color: #0066ff;
}

.tabs__content-item {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 100px 40px;
}

.card {
	text-align: center;
}

.card__wrapper {
	padding: 0 5px;
	border: 1px solid #0066ff;
	border-top: 0;
}

.card-title {
	padding-top: 20px;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.card-img {
	display: block;
}

.card__text {
	margin-bottom: 20px;
}

.card__price {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

.card__link {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

.card__link {
	display: block;
	color: #0066ff;
	border: 1px solid #0066ff;
	border-top: 0;
}

.card-btn {
	display: block;
	width: 225px;
	background-color: black;
	color: #fff;
	margin: 0 auto 150px;
	text-align: center;
	padding: 13px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 50px;
}
